@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-black font-body text-white;
  }
}
@layer components {
  .page-container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }

  .movie-swiper .swiper-slide {
    width: 226px;
    margin: 0 10px;
  }
  .banner .swiper {
    border-radius: 8px;
  }
  .line {
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 1px;
    height: 0.35rem;
    vertical-align: -0.05rem;
  }
  .btn-search {
    background: red;
    box-shadow: rgb(255 0 0 / 30%) 0px 0px 7px 8px;
    border: none;
    :hover {
      box-shadow: rgb(255 0 0 / 30%) 0px 0px 20px 20px;
    }
  }
}
